/* Layout */

@media only screen and (min-width: 544px) {

	.wampum-forms-inline form {
	    box-sizing: border-box;
	    display: -webkit-flex;display: -ms-flexbox;display: flex;
	    -webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;flex: 0 1 auto;
	    -webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;
	    -webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;
	    -webkit-align-items: flex-end;-ms-flex-align: end;align-items: flex-end;
		margin: 0 -5px;
	}

	.wampum-forms-inline .wampum-field {
		-webkit-flex: 0 1 auto;-ms-flex: 0 1 auto;flex: 0 1 auto;
	    max-width: 100%;
	    margin-left: 5px;
	    margin-right: 5px;
	}

}

.wampum-form .wampum-field,
.entry-content .wampum-form .wampum-field {
    margin-bottom: 15px;
}

.wampum-form .wampum-field .required {
	color: red;
	margin-left: 2px;
}

.wampum-form .wampum-field.disabled {
	opacity: 0.6;
}

/* Wampum Notices */

.wampum-notice {
    background-color: #444;
    color: rgba(255, 255, 255, 0.85);
    padding: 8px 12px;
    margin-left: 0;
    margin-bottom: 12px;
	border-left: 5px solid #00a0d2;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.wampum-notice.success {
	background-color: rgba(70, 180, 80, 0.75);
	border-left-color: #46b450;
}

.wampum-notice.error {
	background-color: rgba(220, 50, 50, 0.75);
	border-left-color: #dc3232;
}

.wampum-notice a {
	color: rgba(255, 255, 255, 0.85) !important;
	text-decoration: none !important;
	border: none !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.85) !important;
}

.wampum-notice a:hover {
	color: rgba(255, 255, 255, 1) !important;
	border-bottom-color: rgba(255, 255, 255, 1) !important;
}

/* Password Strength */

.wampum-form .password-strength,
.wampum-form .password-strength span {
	display: block;
	height: 36px;
	line-height: 36px;
	width: 100%;
}

.wampum-form .password-strength-meter {
	background-color: #e6e6e6;
}


.wampum-form .password-strength-meter[data-strength="0"] .password-strength-color {
	width: 20%;
	background-color: #9bf58c;
}

.wampum-form .password-strength-meter[data-strength="1"] .password-strength-color {
	width: 40%;
	background-color: #9bf58c;
}

.wampum-form .password-strength-meter[data-strength="2"] .password-strength-color {
	width: 60%;
	background-color: #74f55d;
}

.wampum-form .password-strength-meter[data-strength="3"] .password-strength-color {
	width: 80%;
	background-color: #25f500;
}

.wampum-form .password-strength-meter[data-strength="4"] .password-strength-color {
	width: 100%;
	background-color: #21db00;
}

.wampum-form .password-strength-text {
	padding: 0 12px;
}
